---
import Tooltip from "./Tooltip.astro";

const {
  title,
  tooltipID,
  colorConfig = "text-gray-900 dark:text-white",
  bgConfig = "bg-gray-50 hover:bg-gray-100 dark:bg-gray-600 dark:hover:bg-gray-500",
  ...rest
} = Astro.props;

const prefix = "tooltip";
const fullTooltipId = `${prefix}-${tooltipID}`;

const renderTooltip = () => {
  return tooltipID?.length > 0;
};
---

<li
  {...renderTooltip() ? { "data-tooltip-target": fullTooltipId } : {}}
  {...rest}
  class=`flex items-center gap-2 p-3 text-base font-bold ${colorConfig} ${bgConfig} rounded-lg group hover:shadow`>
  <slot />
  <span class="flex-1 whitespace-nowrap">{title}</span>
  {
    renderTooltip() && (
      <Tooltip tooltipID={fullTooltipId}>
        <slot name="tooltipContent" />
      </Tooltip>
    )
  }
</li>
